:root{
  --primary-color: #c33764;
  --primary-transition: .35s ease-in-out;
}


::selection{
  background: black;
  color: white;
}

body::-webkit-scrollbar {
  width:15px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

html * {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: var(--primary-transition);
}




/* globals */
.line{
  width: 100px;
  height: 5px;
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  justify-content: center;
}
.line div{
  width: 30%;
  min-width: 20px;
  border-radius: 3px;
  background-color: var(--primary-color);
}



/* navbar */
.nav{
  width: 100%;
  height:100vh;
  color: white;
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Livvic', sans-serif;
  text-transform: uppercase;
  font-size: 24px;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

}
.nav .title{
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
  text-shadow: 3px 3px 6px #121212;
  transition: .5s ease-in-out;
}
.nav .title:hover{
  color: #c33764;
}
.down-icon{
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: center;
  justify-self: center;
  font-size: 50px;
}
.down-icon:hover{
  color: var(--primary-color);
}



.portfolio{
  /* height:1000px; */
  width: 100%;
  font-family: 'Muli', sans-serif;
  color: var(--primary-color);
  margin-bottom: 150px;
  
}
.title{
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,300px));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;
}

.cards .card{
  background-color: #121212;
  color: white;
  min-height: 400px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 10px 10px 10px grey;
  padding: 15px;
}

.card .desc{
  font-size: 20px;
  margin-top: 15px;
}
.inline{
  display: flex;
}
.inline h3{
  margin-left: auto;
}
