.login {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  form {
    min-height: 400px;
    background-color: rgba(30, 40, 200, 0.2);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 2px rgba(30, 140, 200, 0.2);
    h3 {
      text-align: center;
      margin: 30px 0;
    }
    .form-group {
      display: flex;
      flex-direction: column;
      width: 400px;
      margin: 10px 0;
      input {
        border: none;
        padding: 10px;
        margin: 5px 0;
      }
    }
    button {
      width: 400px;
      text-align: center;
      padding: 10px;
      margin: 10px 0;
    }
  }
}
